*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body
{
    background-color:#F5DAA7;
}

.mainheader
{
    height:50px;
    width:100%;
    background-color:#F5DAA7;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10%;
   
}

.logo
{
    height:50px

}

.searchbox
{
    width:30%;
    height:30px;
    border-radius: 2px;

}

.button
{
    height:30px;
    width:100px;
    background-color:#842A3B;
    border:1px solid black;
    color:rgb(243, 232, 232);
   
}

.navbar
{
    height:50px;
    width:100%;
    background-color:#842A3B;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:15%;
    margin-top: 2px;
    

}


.link
{
  
    color:rgb(243, 232, 232);
    font-size:20px;
    text-decoration: none;
    
}

.pin
{
    height:70px;
    width: 100%;
    background-color: #F5DAA7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.women
{
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    /* border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.men
{
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    /* border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.kids
{
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    /* border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.grocery
{
    height: 275px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    /* border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.image
{
    height:205px;
    width:275px;
    background-color: #2E2E2E;
    margin-left: 250px;
    border: 2px solid snow;
}

.details
{
    height: 205px;
    width: 275px;
    text-align: center;
   
    gap: 10%;
    /* border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px; */
}



